{% extends 'billboard/base.html' %}
{% block nav%}
{% endblock %}
{% block content %}
{% if form.errors %}
  <p>Username and password did not match. Try again.</p>
{% endif %}
<div class="form" id="login-form">
  <form class="" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <p>
      {{ form.username.label_tag }}
      <span class="inputfield">
      {{ form.username }}
      </span>
    </p>
    <p>
      {{ form.password.label_tag }}
      <span class="inputfield">
      {{ form.password }}
      </span>
    </p>
    <input class="clickable" id="submitLogin" type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
</div>
{% endblock %}
