{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Billboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Pinyon+Script|Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
  </head>
  <body>
    <div id="posts-container">
      {% for post in posts %}
      <div class="post">
          <span class="post-date">{{post.date.day}}/{{post.date.month}}/{{post.date.year}}</span>
          <div class="post-content">
          <p class="post-title">{{post.title}}</p>
          <p class="post-body">{{post.body}}</p>
          <span class="post-author">{{post.author}}</span>
        </div>
      </div>
      {% endfor %}
    </div>
    <div id="add-posts">
      <button id="newPostBtn" type="button" name="button"><i class="fa fa-plus"></i></button>
    </div>
  </body>
</html>
